/* 
1em = 16px 
Icons size = 95px

--FS - Font Size

--clr - Color

*/

:root{
    --ff: "Kufam", sans-serif;

    --fS-title: 4em;
    --fS-paragraph: 1.5em;
    --FS-cards: 2.25em;

    --clr-background-item: #D9D9D9;

    --clr-frontEnd: #6A5BF2;
    --clr-backEnd: #F25B85;
    --clr-webDesign: #8ABE11;
    --clr-workFlow: #FF7E43;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* ------------------------------------------ */
/* ESTILOS GERAIS */
/* ------------------------------------------ */
body{
    background-image: url(./src/Dot_Grid_Pattern.svg);
    font-family: var(--ff);
    cursor: url('./src/Icons/Page/Cursor_full.png'), auto;

    user-select: none;
}

a{
    cursor: url('./src/Icons/Page/Cursor_click.png'),auto;
}


h1{
    font-size: var(--fS-title);
    font-weight: 300;
}

h3{
    font-size: 2.25em;
    font-weight: 400;
}

p{
    font-size: var(--fS-paragraph);
    margin-top: 30px;
}

a{
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-down{
    margin-top: 50px;  
}

.arrowUp{
    transform: rotate(180deg);
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */
header{
    background-image: url(./src/Dot_Grid_Pattern.svg);
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 300;
    font-size: 1.5em;
}
#a-about:hover{
    box-shadow: 0px 2px 0px 0px var(--clr-frontEnd);
}

#a-projects:hover{
    box-shadow: 0px 2px 0px 0px var(--clr-backEnd);
}
#a-certificates:hover{
    box-shadow: 0px 2px 0px 0px var(--clr-workFlow);
}
#a-contact:hover{
    box-shadow: 0px 2px 0px 0px var(--clr-webDesign);
}

/* ------------------------------------------ */
/* ABOUT SECTION */
/* ------------------------------------------ */
.about{
    margin: 70px;
    min-height: 900px;
    position: relative;
}

.about-content{
    display: flex;
    gap: 20px;
}

.about-text{
    max-width: 800px;
}

.photo{
    width: 300px;
    border-radius: 40%;
    position: relative; 
}

ul{
    display: flex;
}

li{
    margin: 30px;
}

li img{
    height: 95px;
    width: 100px;
}

.about-btns{
    margin-top: 50px;
}

/* BTNS */
.about-btns button{
    font-size: var(--fS-paragraph);
    width: 180px;
    height: 70px;

    margin: 20px;

    border-radius: 20px;
    border: none;
    box-shadow: -5px 8px 0px 2px rgba(0,0,0,0.80); 

    cursor: url('./src/Icons/Page/Cursor_click.png'),auto;
    transition: .2s all;
}

#btn-frontend:hover{
    background-color: var(--clr-frontEnd);
}

#btn-backend:hover{
    background-color: var(--clr-backEnd);
}

#btn-workflow:hover{
    background-color: var(--clr-workFlow);
}

#btn-webdesign:hover{
    background-color: var(--clr-webDesign);
}

/* ------------------------------------------ */
/* PROJECTS SECTION */
/* ------------------------------------------ */
.projects{
    margin-top: 100px;
}

.project-bg{
    display: block;
    width: 100%;
    height: 100px;
    background-color: var(--clr-background-item);
    z-index: -1;
}

.projects-cards{
    border-radius: 20px;
    box-shadow: -5px 8px 0px 2px rgba(0,0,0,0.80); 
    margin-top: 40px;
    display: flex;
    height: 450px;
    max-width: 1400px;
}

.card{
    background-color: var(--clr-background-item);
    box-shadow: -5px 8px 4px 2px rgba(0,0,0,0.20); 
    padding: 80px;
    width: 25%;
    cursor: url('./src/Icons/Page/Cursor_click.png'),auto;

    transition: 0.4s all ease-in;
}

.card a:hover{
    color: white;
}

.card-img:hover{
    display: block;
}
/* The first and last card must have border radius */
.card-1{
    border-radius: 20px 0 0 20px;
}
.card-4{
    border-radius: 0 20px 20px 0;
}

/* For each card a especific color */
.card-1:hover{
    background-color: var(--clr-frontEnd);
}
.card-2:hover{
    background-color: var(--clr-backEnd);
}
.card-3:hover{
    background-color: var(--clr-workFlow);
}
.card-4:hover{
    background-color: var(--clr-webDesign);
}


/* ------------------------------------------ */
/* CERTIFICATES SECTION */
/* ------------------------------------------ */
.certificates-content {
    margin-top: 100px;
    max-width: 1100px;
    text-align: center;
}
.certificates-images-container{
    text-align: center;
}

.certificates-img{
    max-width: 400px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
    cursor: url('./src/Icons/Page/Cursor_click.png'),auto;

    transition: 0.2s all ease-in;
}

.backend-img:hover{
    background-color: var(--clr-backEnd);
}
.frontend-img:hover{
    background-color: var(--clr-frontEnd);
}
.workglow-img:hover{
    background-color: var(--clr-workFlow);
}
.webDesign-img:hover{
    background-color: var(--clr-webDesign);
}

/* ------------------------------------------ */
/* CONTACT SECTION */
/* ------------------------------------------ */
.contact-content{
    margin-top: 100px;
}
.contact-icon{
    margin-top: 20px;
    width: 120px;
}
.contact-ways-container{
    display: flex;
    gap: 40px;
}

.ways-card{
    text-align: center;
    max-width: 500px;
}

.ways-card img{
    cursor: url('./src/Icons/Page/Cursor_click_white.png'),auto;
}

/* ------------------------------------------ */
/* FOOTER SECTION */
/* ------------------------------------------ */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-content{
    background: var(--clr-background-item);
    padding: 40px 0 20px 0;
    width: 70%;
    max-width: 1500px;
    border-radius: 20px 20px 0 0;
    box-shadow: -5px 8px 0px 2px rgba(0,0,0,0.80); 
}

.footer-content img{
    cursor: url('./src/Icons/Page/Cursor_click_white.png'),auto;
}

footer p {
    margin: 0;
    font-size: 1.25em;
}

footer img{
    width: 50px;
}


/* ------------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------------ */

@media (max-width: 1100px) {
    h1{
        /* border: 1px solid red; */
    }

    .photo{
        width: 200px;
    }

    .about-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .about-btns button{
        margin: 20px 10px 20px 10px;
    }

    .projects-cards{
        max-width: 900px;
    }

    .card{
        padding: 80px 30px;

    }

    .card p{
        font-size: 20px;
    }
}

@media (max-width: 850px){
    h1{
        /* border: 1px solid blue; */
    }

    #aside-icons img{
        width: 50px;
        height: 50px;
    }
    .about-btns{
        display: flex;
        max-width: 700px;
        align-items: center;
    }

    .about-btns button{
        font-size: 20px;
        width: 150px;
        height: 65px;

        margin: 10px;

        border-radius: 20px;
        border: none;
        box-shadow: -5px 8px 0px 2px rgba(0,0,0,0.80); 

        cursor: url('./src/Icons/Page/Cursor_click.png'),auto;
        transition: .2s all;
    }

    .projects-content{
        margin: auto;
        align-items: center;
    }


    .projects-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        max-width: 80%;
        height: 100%;
    }

    .projects-cards p{
        margin: 0;
    }
    .card{
        padding: 40px;
        width: 100%;
    }

    .card-1{
        display: block;
        z-index: 10;
        border-radius: 20px 20px 0 0;
        box-shadow: -3px 8px 4px 2px rgba(0,0,0,0.20); 
    }
    .card-2{
        display: block;
        z-index: 9;
        box-shadow: -3px 8px 4px 2px rgba(0,0,0,0.20); 
    }
    .card-3{
        display: block;
        z-index: 8;
        box-shadow: -3px 8px 4px 2px rgba(0,0,0,0.20); 
    }

    .card-4{
        border-radius: 0 0 20px 20px;
    }

    .certificates-img{
        max-width: 300px;
    }

    .footer-content{
        padding: 50px 0 20px 0;
        width: 500px;
    }



}